:root {
  --logo-font-back: "MF2Back";
  --logo-font-center: "MF2Center";
  --logo-font-front: "MF2Fore";
  --primary-font: "DTM Mono";
  --background-color: black;
  --primary-color: white;
  --undertale-yellow: #ffff00;
  --transparent-black: rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--primary-font), sans-serif;
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url("res/waterfall.jpg") center no-repeat;
  background-size: cover;
  z-index: -1;
}

.nav-bar {
  top: 0;
  position: sticky;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.logo-container .logo {
  height: 2em;
  margin: 1em;
}

.logo-text {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-text div {
  position: absolute;
  color: var(--primary-color);
  font-size: 2em;
}

#logo-first-layer {
  font-family: var(--logo-font-back), sans-serif;
  opacity: 0.5;
}

#logo-second-layer {
  font-family: var(--logo-font-center), sans-serif;
  color: red;
}

#logo-third-layer {
  font-family: var(--logo-font-front), sans-serif;
}

.link-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 25%;
}

.link-container li a {
  color: white;
  font-size: 1.5rem;
}

.link-container li a:hover {
  color: var(--undertale-yellow);
}

.credit-panel {
  display: none;
}

.credit-panel.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  position: fixed;
  color: var(--primary-color);
  width: 75vw;
  height: 75vh;
  font-size: 1.3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.credit-panel a {
  color: var(--undertale-yellow);
  margin: 1.2rem;
}

.close-button {
  color: var(--primary-color);
  margin-top: 2rem;
  cursor: pointer;
}

.close-button:hover {
  color: var(--undertale-yellow);
}

.first-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--transparent-black);
  padding: 2rem;
}

.first-page img {
  margin: 2rem;
}

.second-page {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  justify-content: space-around;
}

.second-page .title {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 3rem;
}

.soul-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.soul-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px white solid;
  width: 15%;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 2rem;
  border-radius: 2rem;
  transition: border 0.2s ease;
}

.soul-container:hover {
  border: 2px yellow solid;
}

.soul-container img {
  width: 30%;
  transition: transform 0.2s ease;
}

.soul-container:hover img {
  width: 30%;
  transform: translateY(-2rem);
}

.soul-container .title {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s,
    opacity 0.5s ease;
  font-size: 2rem;
  color: var(--primary-color);
}

.soul-container:hover .title {
  visibility: visible;
  opacity: 1;
}

.third-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("res/golden-flower.png");
  height: 60vh;
  background-attachment: fixed;
  background-size: cover;
}

.quote-container {
  padding: 2rem;
  color: var(--primary-color);
  font-size: 3rem;
  background: #00000070;
}

.quote-author {
  font-size: 2rem;
  text-align: end;
}

.fourth-page {
  background-color: var(--transparent-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.fourth-page .dialogue img {
  margin: 2rem;
}

.fourth-page .game-link a {
  color: var(--primary-color);
  font-size: 2rem;
}

.fourth-page .game-link a:hover {
  color: var(--undertale-yellow);
}

footer {
  background-color: var(--background-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
}

.toby-fox {
  display: flex;
  align-items: center;
}
.toby-fox .text {
  margin-right: 2rem;
}

.toby-fox img {
  cursor: pointer;
}
